PRODUCT_NAME = XML
PRODUCT_BUNDLE_IDENTIFIER = eu.jakobrath.XML
APPLICATION_EXTENSION_API_ONLY = YES
INFOPLIST_FILE = $(SRCROOT)/XML/Info.plist
MODULEMAP_FILE = $(SRCROOT)/XML/module.modulemap

// libxml2
SWIFT_INCLUDE_PATHS = $(SRCROOT)/libxml2
HEADER_SEARCH_PATHS = $(SDKROOT)/usr/include/libxml2
OTHER_LDFLAGS = -lxml2
